body {
    background-color: rgb(201, 201, 201);
}
.container {
    max-width: 1000px;
    margin: auto;
}
.header {
    display: flex;
   justify-content: space-between;
   background-color: rgb(129, 201, 243);
}
ul {
    display: flex;
    list-style: none;
}
li {
    margin-left: 15px;
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}
.logo{
    margin-left: 12px;
    height: 30px;
    padding: 15px;
}
.main-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 70px;
    align-items: center;
}
.foto {
    width: 400px;
    border-radius: 10px;
}
.text-1 {
   margin-left: 15px; 
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
.text-2 {
font-size: 18px;
}
.gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
}
.gallery-items {
    display: flex;
    justify-content: space-between;
}
.gallery-foto {
    width: 300px;
    border-radius: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    text-align: center;
}
.footer-img {
    width: 20px;
}

.social-links {
    color: white;
    text-decoration: none;
}
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    .text-1 {
        text-align: center;
    }
    .gallery-items {
        flex-direction: column;
        align-items: center;
    }
    .gallery-foto {
        margin: 10px;
    }
}
@media (max-width: 950px) {
    .gallery-foto {
        width: 250px;
    }
} 